{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class="container">

        {% if form %}
            <form class="form-horizontal" method="POST">

                <h2>Изменение пароля</h2>

                {% csrf_token %}

                {% bootstrap_form form layout='horizontal' %}

                {% buttons %}
                    <div class="col-md-3 col-md-offset-9">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Изменить пароль</button>
                    </div>
                {% endbuttons %}

            </form>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <h2>Ошибка восстановления пароля</h2>
                <p>Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались.</p>
                <p>Пожалуйста, попробуйте <a href="{% url 'custom_password_reset' %}">восстановить</a> пароль еще раз.</p>
            </div>
        {% endif %}

    </div>

{% endblock%}
