Django==1.7
django-appconf==1.0.1
django-grappelli==2.6.3
gunicorn==19.2.1
pep8==1.5.7
Pillow==2.7.0
psycopg2==2.5.4
pylama==6.0.1
django-rainbowtests==0.2.1
-e git://github.com/Samael500/django-geoposition.git@master#egg=django-geoposition
httplib2==0.9.1
google-api-python-client==1.4.0
celery==3.1.18
redis==2.10.3
shapely==1.5.9
django_compressor==1.5
django-recaptcha==1.0.4
python-social-auth==0.2.12
django-registration-redux==1.2
django-bootstrap3==6.1.0
django-admin-honeypot==0.4.0
