<p>{{ instance.user.first_name|default:'Первооткрыватель' }}, здравствуйте!</p>
<p>Только что администраторы подтвердили ваше открытие!</p>
<p>Поздравляем! Спасибо, что открываете мир заново, вместе с нами!</p>
<p>Вы можете посмотреть его перейдя по ссылке <a href="{{ SETTINGS.SITE_URL }}/{{ instance.get_absolute_url}}">{{ SETTINGS.SITE_URL }}/{{ instance.get_absolute_url}}</a></p>

<p>Я — первооткрыватель! [<a href="mailto:{{ SETTINGS.DEFAULT_FROM_EMAIL }}">{{ SETTINGS.DEFAULT_FROM_EMAIL }}</a>].</p>
